#.github/workflows/jerm.yml

on: push
jobs:
    push:
        name: push
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: st4rchaser/jerm-action@v6.5.0
